body {
    font-family: 'Raleway', sans-serif;
    background-color: rgba(38,222,129,.2);
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.card-set {
    padding-top: 50px;
}

.ellipsis { 
    display: block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-dark .navbar-brand {
    color: #26de81;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5em;
}

.mr-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
    float: right;
}

.navbar-dark .navbar-nav .nav-link {
    color: #26de81;
}

div.col-sm-4 > div.card > div.card-body p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.about {
    padding: 30px;
}

.about h2,
.about p {
    text-align: center;
}

/* Reservation Progress Bar */

ul.progress-form {
    z-index: 2;
}


.progress-form {
    margin-top: 30px;
    counter-reset: step;
}

.progress-form li {
    list-style-type: none;
    float: left;
    width: 25%;
    position: relative;
    text-align: center;
}

.progress-form li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #eee;
}

.progress-form li:after {
    content: '';
    position: absolute;
    width: 100%;    
    height: 1px;
    background-color:#000;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progress-form li:first-child:after {
    content: none;
}

.progress-form li.active {
    color: #27ae60;
}

.progress-form li.active:before {
    border-color: #27ae60;
}

.progress-form li.active + li:after {
    background-color:  #27ae60;
}

fieldset {
    padding: 30px;
}

#reservation_form fieldset:not(:first-of-type) {
    display: none;
}

ul.payment-wrap {
    list-style-type: none;
}

ul.payment-wrap li {
    display: inline;
    margin-right: 20%;
}

.alert {
    width: 50%;
    margin: 10px auto;
}

#taken_email, #invalid_email {
    display: none;
}