.card {
    margin: 1110px;
    padding-top: 500px;
}

.card-set {
    padding-top: 50px;
}



.ellipsis { 
    display: block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}